* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: url(img/cork.png);
    font-family: "Edu TAS Beginner", cursive;
}

header {
    height: 90px;
    background-image: url(img/wall.png);

}

/*UILITY*/

.d-none {
    display: none;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.debug {
    border: 1px solid red;
}*/

.text-center {
    text-align: center;
}

.bg-white {
    background-color: white;
}

.padding-20 {
    padding: 20px 20px;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap-40 {
    gap: 40px;
}

.ptop-30 {
    padding-top: 30px;
}

.ptop-10 {
    padding-top: 10px;
}

.pbot-30 {
    padding-bottom: 30px;
}

.image {
    width: 100%;
    height: auto;

}

.pointer {
    cursor: pointer;
}

/************************************************/



.title {
    height: 90px;
    line-height: 90px;
    font-size: 60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.card {
    width: calc((1200px - 80px) / 3);
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.788);
    position: relative;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-overlay {
    border-radius: 5px;
    position: relative;
    width: 600px;
    cursor: pointer;
}

.card:hover {
    transform: rotate(-10deg) scale(1.1);
    box-shadow: 8px 8px 25px 5px rgba(0, 0, 0, 0.938);
    z-index: 999;

}

.card:hover .img-pin {
    opacity: 0;

}

.img-container {
    width: 100%;
    height: auto;
}

.img-pin {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -30%);
    transition: opacity 0.1s ease-in-out;
}

canvas {
    display: block;
}

/*Media Query for Tablets*/
@media screen and (max-width: 790px) {
    .card {
        width: calc((100% - 40px) / 2);
    }

    .container {
        padding: 0 20px;
    }
}

/*Media Query for Mobile*/
@media screen and (max-width: 480px) {
    .card {
        width: 100%;
    }
}