* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-image: url(img/cork.png);
    font-family: "Edu TAS Beginner", cursive;
}

header {
    height: 90px;
    background-image: url(img/wall.png);

}

/*UILITY*/

debug {
    border: 1px solid red;
}

.text-center {
    text-align: center;
}

.bg-white {
    background-color: white;
}

.padding-20 {
    padding: 20px 20px;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap-40 {
    gap: 40px;
}

.ptop-30 {
    padding-top: 30px;
}

.ptop-10 {
    padding-top: 10px;
}

.pbot-30 {
    padding-bottom: 30px;
}

.image {
    width: 100%;
    height: auto;

}

.pointer {
    cursor: pointer;
}

/************************************************/



.title {
    height: 90px;
    line-height: 90px;
    font-size: 60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.card {
    width: calc((1200px - 80px) / 3);
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.788);
    position: relative;
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: rotate(-20deg) scale(1.1);
    /* Rotate left and zoom */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.9);
    /* Increase shadow */
}

.card:hover .img-pin {
    opacity: 0;

}

.img-container {
    width: 100%;
    height: auto;
}

.img-pin {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -30%);
    transition: opacity 0.3s ease-in-out;
}

/* Media Query for Tablets*/
@media (max-width: 790px) {
    .card {
        width: calc((100% - 40px) / 2);
    }

    .container {
        padding: 0 20px;
    }
}

/* Media Query for Mobile*/
@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}